<div id="idcarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#idcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#idcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#idcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="./assets/img/carousel-1.jpg" class="d-block w-100 " alt="..."  >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="texto-carousel">Flexibilidad Horaria</h5>
          <p class="texto-carousel">Entrena en el horario que desees, estamos disponibles todos los días desde las 5:00 AM hasta las 10:PM.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="./assets/img/carousel-2.jpg" class="d-block w-100 " alt="..."  >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="texto-carousel">Calidad de Implementos</h5>
          <p class="texto-carousel">Contamos con implementos de calidad y certificados.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/img/carousel-3.jpg" class="d-block w-100 " alt="..."  >
        <div class="carousel-caption d-none d-md-block">
          <h5 class="texto-carousel">Entrenamiento Asistido</h5>
          <p class="texto-carousel">Entrenador personalizado en todas la rutinas y orientación nutricional.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#idcarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#idcarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 justify-content-center">
        <p class="h2">Tipos de Membresias Disponibles</p>
      </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/bronce.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">BRONCE</h5>
            <p class="card-text">COP 50.000</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Un invitado al mes</li>
            <li class="list-group-item">Acceso a todas las áreas del gimnasio</li>
            <li class="list-group-item">Orientación nutricional</li>
          </ul>
          <div class="card-body">
            <a href="/membresia/crear" class="btn btn-primary card-link">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/plata.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PLATA</h5>
            <p class="card-text">COP 70.000</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Cinco Invitados al mes</li>
            <li class="list-group-item">Acceso a todas las áreas del gimnasio</li>
            <li class="list-group-item">Orientación nutricional</li>
          </ul>
          <div class="card-body">
            <a href="/membresia/crear" class="btn btn-primary card-link">Comprar</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img/oro.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ORO</h5>
            <p class="card-text">COP 90.000</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Quince Invitados al mes</li>
            <li class="list-group-item">Acceso a todas las áreas del gimnasio</li>
            <li class="list-group-item">Orientación nutricional</li>
          </ul>
          <div class="card-body">
            <a href="/membresia/crear" class="btn btn-primary card-link">Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </div>

