 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a id="linkMembresia" class="nav-link active" routerLink="./" routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"></a>
      <a id="linkCrearMembresia" class="nav-link" routerLink="./crear" routerLinkActive="active">Crear Membresia</a>
      <a id="linkListarMembresia" class="nav-link" routerLink="./listar" routerLinkActive="active">Listar Membresia</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
